@{}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] DT191G Datateknik .NET - moment1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/moment1.styles.css" asp-append-version="true" />
 
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">


</head>
<body>
    
    <header class="mb-3">

        <div id="logo"> <a asp-area="" asp-page="/Index"><img src="img/logo.png" /></a></div>
        <!-- Source for logo-graphic: www.freepik.com bird-colorful-logo-gradient-vector Image by logturnal on Freepik -->
        <div id="todays-date"><p>Dagens datum: @DateTime.Now.ToShortDateString()</p> </div>
        
    </header>
    <main class="pb-3">
        <div class="sidebar-container">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
                   
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul id="navbar-elements"class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="Start" asp-area="" asp-page="/Index">Start</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="Razor" asp-area="" asp-page="/RazorPage">Razor</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" id="About" asp-area="" asp-page="/About">Om</a>
                            </li>
                        </ul>
                    </div>
                </nav>
        </div>
        <div class="container">
     
                @RenderBody()
       
        </div>
    </main>
  
    

    <footer class="footer centered">
        <div>Natalie Salomons Frick</div>
        <div>DT191G Datateknik .NET moment1</div>
        <div>nasa2104@student.miun.se</div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    
    @if (ViewData["Active"] != null)
    {
        <script type="text/javascript">
            SetActive("@ViewData["Active"]");
        </script>
    }
    
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>